<head>
  <title>Developer Registration</title>
</head>

<body>
  <h1>Developer Registration</h1>
  <img src="http://imaginarymonsters.com/wp-content/uploads/2016/03/pc_skeleton.jpg">

  <form method="POST" action="/register">
    <p>Developer Name: <input type="text" name="name"></p>
    <p>Password <input type="password" name="password"></p>
    <input type="submit">
  </form>
</body>
