<h1>Logged in as:
  <%= @current_dev.name %>
</h1>

<% @current_dev_games.each do |game| %>
  <div>
    <a href="/games/<%= game.title%>"><%= game.title %></a>
  </div>
<% end %>

<br>

<a href="/logout">Logout</a>
