<h1>Add a new game to the database.</h1>
<form method="POST" action="/newgame">
  <p>Game Tile: <input type="text" name="title"></p>
  <p>Description <input type="text" name="description"></p>
  <p>Genre: <input type="text" name="genre"></p>
  <p>Price: <input type="float" name="price"></p>
  <input type="submit">
</form>
