<h2>Welcome to GameDev Manager</h2>
<a href="/register">Register New Developer</a> <br>
<a href="/login">Developer Login</a> <br>
<br>
<a href="/devs/show">Index All Developers</a> <br>
<a href="/games/show">Index All Games</a> <br>
